@{
    Layout = "";
    var login = ViewData["ReturnUrl"].ToString().Substring(1) == "" ? "User" : ViewData["ReturnUrl"].ToString().Substring(1);
    var loginas = ViewData["ReturnUrl"].ToString().ToLower();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pharmacy Locator</title>
    <link href="//cdn.jsdelivr.net/npm/sweetalert2/theme-dark@4/dark.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/admin.css" asp-append-version="true" rel="stylesheet"/>
</head>
<body>

    <div class="body">
        <div class="content">
            <div id="login-box">
                <form asp-controller="account" asp-action="Login" method="post" asp-route-returnurl="@ViewData["ReturnUrl"]">
                    <h2 class="text-center">Login | @char.ToUpper(login[0])@login.Substring(1)</h2>
                    <p class="text-center">
                        @ViewBag.errorMessage
                    </p>
                    <div class="mb-3">
                        @if (loginas == "/pharmacy") {
                            <label for="usernameInput" class="form-label">Email</label>
                            <input type="text" name="username" class="form-control" id="usernameInput" tabindex="1" value="@ViewBag.username">
                        }else {
                            <label for="usernameInput" class="form-label">Username</label>
                            <input type="text" name="username" class="form-control" id="usernameInput" tabindex="1" value="@ViewBag.username">
                        }
                        </div>
                    <div class="mb-3">
                        <label for="passwordInput" class="form-label">Password</label>
                        <input type="password" name="password" class="form-control" id="passwordInput" tabindex="2">
                    </div>
                    <div class="d-grid gap-2">
                        <button class="btn ca-btn mt-3" type="submit" name="login">Login</button>
                    </div>
                    <div class="mb-3 mt-2 text-center text-muted">
                        Login as 
                        
                        @if (loginas == "/admin")
                        {
                            @Html.ActionLink("pharmacy","","pharmacy",null,new { @class = "newLink" })
                            <span> or </span>
                            @Html.ActionLink("user","","user",null,new { @class = "newLink" })
                        }
                        else if (loginas == "/pharmacy")
                        {
                            @Html.ActionLink("admin","","admin",null,new { @class = "newLink" } )
                            <span> or </span>
                            @Html.ActionLink("user","","user",null,new { @class = "newLink" })
                        }else {
                            @Html.ActionLink("SignUp","SignUp","account",null,new { @class = "newLink" })
                        }
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>