@using PharmacyLocator.Models.Services
@model IEnumerable<PharmacyLocator.Models.Location>
@inject ILocationService _locservice
@{
    Location loc = await _locservice.GetByIdAsync(ViewBag.id);
    var name = "";
    var status = "";
    if (loc != null)
    {
        name = loc.Name;
    }
    else
    {
        status = "disabled";
    }
}
<p id="main-title">Modify Location</p>
<div id="main-content">
    <div class="mb-3">
        <label for="LocationInput" class="form-label">Location</label>
        <input type="text" name="name" class="form-control" id="LocationInput" tabindex="1" placeholder="Name" value="@name" @status>
    </div>
    <div class="d-grid gap-2">
        <button class="btn ca-btn mt-3" type="button" onclick="modify('location','@ViewBag.id')" @status>Edit</button>
    </div>

    <div class="mt-5">
        <table id="pharmacyTable" class="table table-borderless table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int counter = 0;
                }
                @foreach (var location in Model) 
                {
                    counter++;
                    <tr onclick="loadPage('location','edit','@location.Id')">
                        <td>@counter</td>
                        <td>@location.Name</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>